body {
    margin: 0;
    background-color: #e5db9c;
    font-family: 'Lexend Mega', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
}

.container {
    height: 1000px;
    margin-left: 50px;
    margin-right: 50px;
    width: 1000px;
}

.cool-text {
    color: palevioletred;
    font-size: 100px;
    font-family: 'Monofett', cursive;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}